.About {
    display: flex;
    flex-direction: column;
}

.About__content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.About__card {
    display: flex;
    margin: 4em 2em 4em 2em;
    max-width: 490px;
}

.About__card-img {
    height: 36rem;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .About__row {
        display: flex;
        flex-direction: column;
    }

    .About__card {
        margin-top: 1em;
        margin-bottom: 1em;
    }
  
}