.FooterContent {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  width: 1200px;
}

#btn-footer {
  color: yellow;
  background-color: black;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 20vw;
  margin-left: -1.5em;
  height: 70px;
}
