a {
  text-decoration: none;
  color: black;
  width: fit-content;
}

a:hover {
  text-decoration: underline;
  color: black;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
}

h2 {
  font-family: 'Maven Pro', sans-serif;
}

p {
  font-family: 'EB Garamond', serif;
  font-size: 24px;
}